.flex-row {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.align-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
